.mainPage {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px; /* Adjusted for a smoother look */
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em; /* Adjusted for better readability */
    padding: 20px;
    margin-top: 30px;
  }

  #thank {
    margin-top: 60px;
    text-align: center
  }
  @import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
  .wrapper.two {
    font-size: 1.3rem;
    font-family: "Play", sans-serif;
  }
  .neon h1 {
    animation: neon 1s ease infinite;
  }
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8,
        0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color: #f5efcb;
    }
    50% {
      text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b,
        0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
      color: #eda0d3;
    }
  }

