body {
  background-color: #232323;
  color: aliceblue;
}

.inputbox1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
}

@media (max-width: 1200px) {
  .inputbox1 {
    width: 85%;
  }
}

@media (max-width: 992px) {
  .inputbox1 {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .inputbox1 {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .inputbox1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
